#subscribeForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px; /* Adjust as needed */
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

@media (max-width: 720px) {
  #subscribeForm {
    width: 90%; /* Take up most of the screen width */
  }
}
