.container {
  display: flex;
  align-items: center; /* Vertically align elements */
  margin: 0 auto; /* Center horizontally */
  padding: 1rem; /* Add spacing around the elements */
}

h1 {
  margin-right: 1rem; /* Distance between heading and image */
}

img {
  height: 100%; /* Ensure image scales responsively */
  width: auto;
}

@media screen and  (max-width: 720px) {
  .container {
    display: flex; /* Stack elements on small screens */
    align-items: center; /* Center heading */
  }
}


@media screen and (max-width:720px) {
  

  img {
    
    margin-top: 0rem; /* Add spacing between heading and image */
  }
}
