header {
  display: flex;
  align-items: center; /* Vertically align content */
}

.content {
  flex: .6; /* Expand to fill available space */
}


@media screen and (max-width:720px) {
  

header {
  
  display: flex;
  align-items: center; /* Vertically align content */
  justify-content: space-between;
}
}

@media screen and (max-width:720px){
  

.content {
  flex: 0; /* Expand to fill available space */
}

}



@media screen and  (max-width: 720px) {
  .content{
    
    display: flex;
    flex-direction: column; /* Stack elements on smaller screens */
    /* Center text content on smaller screens */
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (max-width:720px){
  


  img {
   flex-basis: 67%;
   display: flex;
    flex-direction: column;
    width: 100%; /* Make image full-width on smaller screens */
    
  }
}
